<br>
<div align = "center" >
<input type="text" [(ngModel)]="nickname">
<button (click)="registrazione()"> Registrazione </button>
<br> <br> <br>
<input type="text" [(ngModel)]="messaggio">
<button (click)="inviaTutti()">Invia a tutti</button>
<br> <br> <br> 
</div>
<div>
<table border=3px align = "center">
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Sessione</th>
    <th>Gestisci</th>
  </tr>
  <tr *ngFor="let c of contatti">
    <td>{{c.id}}</td>&nbsp;
    <td>{{c.nickname}}</td>&nbsp;
    <td>{{c.sessione}}</td>&nbsp;
    <td><button (click)="invia()"> Invia</button></td>
  </tr>
</table>
<br>
<br>
<table border=3px align = "center">
  <tr>
    <th>Id</th>
    <th>Testo</th>
    <th>Mittente</th>
    <th>Destinatario</th>
  </tr>
  <tr *ngFor="let m of messaggi">
    <td>{{m.id}}</td>&nbsp;
    <td>{{m.testo}}</td>&nbsp;
    <td>{{m.aliasMittente}}</td>&nbsp;
    <td>{{m.aliasDestinatario}}</td>&nbsp;
    <td><button (click)="aggiorna()"> Aggiorna</button></td>
  </tr>
</table>
</div>
