<div>
  <input type="text" [(ngModel)]="contatto.nickname">
  <button (click)="registrazione()">Registrazione</button>
</div>
<br>
<div>
  <input type="text" [(ngModel)]="messaggioDaInviare">
  <button (click)="inviaATutti()">Invia a tutti</button>
</div>

<br>
Contatti
<table>
  <tr>
    <th>Id</th>
    <th>Nickname</th>
    <th>Sessione</th>
    <th>Invia</th>
  </tr>
  <tr *ngFor="let c of contatti">
    <td>{{c.id}}</td>
    <td>{{c.nickname}}</td>
    <td>{{c.sessione}}</td>
    <td><button (click)="inviaAUno(c)">Invia A Uno</button></td>
  </tr>
</table>
<br>
<br>
Messaggi Ricevuti
<button (click)="aggiorna()">Aggiorna</button>
<br>
<table>
  <tr>
    <th>Testo</th>
    <th>Mittente</th>
  </tr>
  <tr *ngFor="let a of messaggi">
    <td>{{a.testo}}</td>
    <td>{{a.aliasMittente}}</td>
  </tr>
</table>