<input type="text" [(ngModel)]="nickname">
<button (click)="registrazione()"> Registrazione </button>
<br> <br>
<input type="text" [(ngModel)]="messaggio">
<button (click)="inviaTutti()">Invia a tutti</button>
<br> <br>

<table border=3px *ngIf="showTable">
  <tr>
    <th>Colonna 0</th>
    <th>colonna 1 </th>
    <th>colonna 3</th>
    <th>colonna 4</th>
  </tr>
  <tr>
    <td></td>&nbsp;
    <td></td>&nbsp;
    <td></td>&nbsp;
    <td></td>&nbsp;
    <td><button (click)="invia()"> X</button></td>
  </tr>
</table>
<br>
//seconda tabella
<table>
  <tr>
    <th>Colonna 0</th>
    <th>colonna 1 </th>
    <th>colonna 3</th>
    <th>colonna 4</th>
  </tr>
  <tr *ngFor="let a of messaggi; index as i">
    <td></td>&nbsp;
    <td></td>&nbsp;
    <td></td>&nbsp;
    <td></td>&nbsp;
    <td><button (click)="aggiorna()"> X</button></td>
  </tr>
</table>